<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .qa-box-content {
                min-height: 300px;
                padding: 50px 70px 70px;
                line-height: 100%;
                border-bottom: 1px solid #333;
            }
            .btn_group {
                position: relative;
                float: right;
                margin-top: 30px;
            }
            #qa_header {
                padding: 70px;
                padding-top: 30px;
                padding-bottom: 30px;
                border-top: 1px solid #333;
                border-bottom: 1px solid #c4c4c4;
            }
            .qa-answer-form {
                padding: 70px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            #content {
                margin-top: 20px;
            }
        </style>
        <script type="text/javascript" src="/assets/js/sub/qa_answer.js"></script>
        <title>Ko-World | Q&A</title>
    </head>
    <!-- body -->
    <body>
        <div class="container">
            <img src="/assets/images/icon_02.png" alt="question icon" />
            <h2>Q&A - Answer</h2>
            <div id="qa_header">
                <div class="row">
                    <div class="col-sm-6">
                        <div><h3><%=data.qaData.QA_TITLE%></h3></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div>Writer : <%=data.qaData.USER_NM%></div>
                    </div>
                    <div class="col-sm-2">
                        <div>Date Created : <i class="fa fa-clock-o me-lg-2" aria-hidden="true"></i><%=data.qaData.REG_DTTM%></div>
                    </div>
                    <div class="col-sm-2">
                        <div>Views : <i class="fa fa-eye me-lg-2" aria-hidden="true"></i><%=data.qaData.QA_VWS%></div>
                    </div>
                </div>
            </div>
            <div class="qa-box-content"><%=data.qaData.QA_TEXT%></div>
            <div class="qa-answer-form">
                <form id="qaAnswerForm">
                    <input type="hidden" value="<%=data.qaData.IDX%>" id="qaidx" name="qaidx" />
                    <!-- content -->
                    <div class="mb40">
                        <label for="Text" class="label w200">Answer Content</label>
                        <textarea class="form-control col-sm-5" rows="5" id="content" name="content"></textarea>
                    </div>
                    <!-- // content -->
                </form>
            </div>
            <!-- 등록버튼 -->
            <div class="btn_group" role="group" aria-label="Basic example">
                <a href="/sub/qa"
                    ><button type="button" class="btn btn-secondary"><i class="fa fa-file-text me-lg-2" aria-hidden="true"></i>Q&A List</button></a
                >
                <a href="#" onclick="qaAnswerPage.qaNullChk();"
                    ><button type="button" class="btn btn-secondary"><i class="fa fa-comments me-lg-2" aria-hidden="true"></i>Answer</button></a
                >
            </div>
            <!-- // 등록버튼 -->
        </div>
    </body>
    <!-- // body -->
    <script></script>
</html>
