<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style></style>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <title>Ko-World | Q&A</title>
    </head>
    <!-- body -->
    <body>
        <div class="container">
            <img src="/assets/images/icon_02.png" alt="question icon" />
            <h2>Q&A</h2>
            <%=data.IDX%> <%=data.QA_TITLE%> <%=data.QA_TEXT%> <%=data.QA_VWS%> <%=data.QA_STS%> <%=data.USER_NM%> <%=data.REG_DTTM%>
        </div>
    </body>
    <!-- // body -->
    <script></script>
</html>
