<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style></style>
        <title>Ko-World | Q&A</title>
    </head>
    <!-- body -->
    <body>
        <div class="container">
            <img src="/assets/images/icon_02.png" alt="question icon" />
            <h2>Q&A</h2>
            <%=data.qaData.IDX%> <%=data.qaData.QA_TITLE%> <%=data.qaData.QA_TEXT%> <%=data.qaData.QA_VWS%> <%=data.qaData.QA_STS%> <%=data.qaData.USER_NM%> <%=data.qaData.REG_DTTM%> <%
            if(data.qaAnswerData) {%> <%=data.qaAnswerData.QA_ASR_TEXT%> <%=data.qaAnswerData.USER_NM%> <%=data.qaAnswerData.REG_DTTM%> <%}%>
        </div>
    </body>
    <!-- // body -->
    <script></script>
</html>
